body {
    font-family: Arial, sans-serif;
    background: url('56945000-2a9d-4e78-a9f4-091b44255dc1.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    padding: 20px 0;
    text-shadow: 2px 2px 10px #ffffff;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 10px;
    border: 4px solid white;
    box-shadow: 0 0 15px #ffffff;
}

section {
    background: rgba(0, 0, 0, 0.7);
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    text-align: left;
}

h1, h2 {
    color: #FFD700;
    text-shadow: 2px 2px 8px #ffffff;
}

h2 {
    border-bottom: 2px solid #FFD700;
    padding-bottom: 5px;
}

a {
    color: #00BFFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #FFD700;
}